<ion-view title="Categories">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-white icon icon-left ion-log-out" ng-click="doSomeAction()">
            
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="row" style="padding:0px; margin:0px; height:20%">
            <div class="col" style="background-color:rgb(232,193,217); height:100px">
                <div class="button button-assertive button-large button-clear button-block icon ion-camera"></div>
            </div>
            <div class="col" style="background-color:rgb(232,228,193); height:100px">
                <div class="button button-energized button-large button-clear button-block icon ion-ribbon-b"></div>
            </div>
        </div>
        <div class="row" style="padding:0px;margin:0px; height:20%">
            <div class="col" style="background-color:rgb(193,232,209); height:100px">
                <div class="button button-balanced button-large button-clear button-block icon ion-heart"></div>
            </div>
            <div class="col" style="background-color:rgb(193,197,232); height:100px">
                <div class="button button-positive button-large button-clear button-block icon ion-chatbox"></div>
            </div>
        </div>
    </ion-content>
</ion-view>