<ion-view title="Image Feed">
    <ion-content>
      <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <div class = "row">
          <div class = "col col-50">

            <div class="list card no-margin no-padding animate-card-left" ng-repeat="item in items track by $index" ng-if="$even">

              <div class="item item-body custom-card">
                <div class="container-test">
                  <div class="container-test-dummy"></div>
                    <img class="image-container" src="img/black-square.jpg">
                    <img class="image-container animate-show" ng-src="{{item.user.picture.medium}}" ng-click="openDetails($index)" imageonload>
                </div>
                <div style="padding-top:3%; padding-bottom:10%">
                  <div class="icon ion-chevron-up small-font vote-left" style="float:left" ng-click="clickEvent()"></div>
                  <div class="icon ion-chevron-down small-font vote-right" style="float:right" ng-click="clickEvent()"></div>
                  <div class="vote-count-font">124</div>
                </div>

              </div>
            </div>
          </div>

          <div class = "col col-50">
            <div class="card test-card" >
              <div class="item item-body">
                <div class="button-bar">
                  <div class="icon-custom ion-ios-undo button-calm button-clear button-small button"></div>
                  <div class="icon-custom ion-refresh button-calm button-clear button-small button"></div>
                  <div class="icon-custom ion-search button-calm button-clear button-small button"></div>
                </div>
              </div>
            </div>

            <div class="list card no-margin no-padding animate-card-right" ng-repeat="item in items" ng-if="$odd">
              <div class="item item-body custom-card">
                <div class="container-test">
                  <div class="container-test-dummy"></div>
                    <img class="image-container" src="img/black-square.jpg">
                    <img class="image-container animate-show" ng-src="{{item.user.picture.medium}}" ng-click="openDetails($index)" imageonload>
                </div>
                <div style="padding-top:3%; padding-bottom:10%">
                  <div class="icon ion-chevron-up small-font vote-left" style="float:left" ng-click="clickEvent()"></div>
                  <div class="icon ion-chevron-down small-font vote-right" style="float:right" ng-click="clickEvent()"></div>
                  <div class="vote-count-font">103</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
    </ion-content>

    <ion-footer-bar class="bar-clear" style="padding:0px">
        <div class="col col-50 col-offset-25">
            <div class="button-bar">
                <div class="button button-positive"> New</div>
                <div class="button button-positive"> Hot</div>
                <div class="button button-positive"> Top</div>
            </div>
        </div>
    </ion-footer-bar>

    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view ng-click="modal.hide()" class="modal-center">
      <ion-content>
        <div class="card">
          <div class="item item-body custom-modal-card">
            <div class="container-test">
              <div class="container-test-dummy"></div>
              <img class="image-container" ng-src="{{currentItem.user.picture.large}}">
            </div>

            <div style="color:#0000FF"> {{currentItem.user.email}}</div>
            <div class="button-bar" style="padding-top:3%; padding-bottom:10%">
              <div class="button button-clear button-balanced icon ion-heart"></div>
              <div class="button button-clear icon ion-chevron-up" ng-click="clickEvent()"></div>
              <div class="button button-clear button-royal button-vote-count-font">103</div>
              <div class="button button-clear icon ion-chevron-down" ng-click="clickEvent()"></div>
              <div class="button button-clear button-calm icon ion-chatbox"></div>
            </div>
          </div>
        </div>
      
        </ion-content>
      </ion-modal-view>
    </script>
</ion-view>
