<ion-view title="Categories">
    <ion-nav-buttons side="left">
        <button class="button button-clear button-white icon icon-left ion-log-out" ng-click="doLogoutAction()">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-clear button-white icon-left ion-person" href="#/account/1">
            
        </a>
    </ion-nav-buttons>
    <ion-content>
        <div class="list "> 
            <a class="item animate-card-left" ng-repeat="category in categories track by $index" href="#/categories/{{$index}}"  style="background-image: url({{category.user.picture.large}}); background-size:100%; background-repeat:no-repeat; background-position:center; height:130px; filter:grayscale(1); mix-blend-mode:screen">
                <p style="position:absolute; bottom:5%; color:white; font-size:1.25em">{{category.user.username}}</p>
            </a>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-clear">
        <div class="col col-80 col-offset-10" style="padding:0px">
            <div class="button-bar">
                <div class="button button-positive icon ion-earth"> Global</div>
                <div class="button button-positive icon ion-flag"> Local</div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
