<ion-view>
     <ion-nav-bar class="bar-dark nav-title-slide-ios7">
        <ion-nav-buttons side="left">
            <a class="button button-clear button-white icon-left ion-close-round" href="#/categories">
            
        </a>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <a class="button button-clear button-white icon-left ion-checkmark-round" href="#/image/edit">
            
        </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-content class="cropArea"> 
        
        <div>Cropped Image:</div>
        <div><img ng-src="{{croppedImage}}" id="editImage"/></div>
    </ion-content>
</ion-view>