<ion-view title="Categories">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-white icon icon-left ion-log-out" ng-click="doSomeAction()">
            
        </button>
    </ion-nav-buttons>
    <ion-content>
        <img src="{{image}}" id="editImage">
        <div class="button-bar">
            <div class="button icon ion-image" ng-click="Button1()"></div>
            <div class="button icon ion-images" ng-click="Button2()"></div>
            <div class="button icon ion-aperture" ng-click="Button3()"></div>
        </div>

    </ion-content>
</ion-view>