<ion-view>
     <ion-nav-bar class="bar-dark nav-title-slide-ios7">
        <ion-nav-buttons side="left">
            <a class="button button-clear button-white icon-left ion-close-round" href="#/categories">
            
        </a>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <a class="button button-clear button-white icon-left ion-checkmark-round" href="#/image/edit">
            
        </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-content class="cropArea"> 
        
        <image-crop 
          data-width="300"
          data-height="300"
          data-shape="square"
          src="imageCrop"
          data-result="croppedImage"
          crop="initCrop"
          padding="100"> 
        </image-crop>

    </ion-content>
</ion-view>